*,*::after,*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    --gray:#f0eef1;
    --green:#9fff9c;
    --light-red: #ff9c9c;
    --white: #fffbfb;
}

/* simnple styling  */

body {
    min-height: 100vh;
    font-family:'Poppins', sans-serif;
    background-color: var(--gray);
}
header {
    padding: 20px 0px 20px 30px;
    background: var(--white);
    margin-bottom: clamp(3rem,12.5%,6rem);
    box-shadow: 5px 5px 10px rgb(0 0 0 / 30%);
    font-size: 1.3rem;
}

div.github{
    position: absolute;
    right: 40px;
    bottom: 100px;
}

button.addBtn {
    background-color: var(--green);
    position: absolute;
    border: none;
    border-radius: 100%;
    padding: 5px;
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 40px;
    right: 40px;
}

div.github i,
button.addBtn {
    transition: ease-in-out 1s;
}

div.github i:hover,
button.addBtn:hover {
    cursor: pointer;
    transform: rotate(-360deg) scale(1.2);
}

/* end of simnple styling  */

/* main styling */

main {
    display: flex;
    flex-direction:column;
    padding: 0 40px;
    gap: 10px;
}

div.book {
    display: flex;
    gap: 15px;
    flex: 1;
    padding: 10px;
    border-radius: 10px;
    background-color: var(--white);
}

div.book i:hover {
    cursor: pointer;
    transform: scale(1.2);
}

div.book div:last-child {
    display: flex;
    align-items: center;
    margin-left: auto;
}

/* end of main styling  */

/* modal styling */

div.modal-blocker {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0,0,0, 0.5);
    visibility: hidden;
    z-index: 1;
}
div.modal-form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

form div.modal-input {
    position: relative;
}

form input.text-label {
    outline: none;
    border: none;
    padding: 20px 10px 10px 10px ;
    font-size: 1rem;
    border-radius: 5px;
}

form input.text-label::placeholder {
 position:absolute;
 top: 50%;
 transform: translatey(-50%);
}

input.text-label ~ label,
input.text-label:focus::placeholder {
    visibility: hidden;
}


input.text-label:focus ~ label,
input.text-label:not(:placeholder-shown) ~ label {
    visibility: visible;
}

 input.text-label ~ label {
    position: absolute;
    left: 10px;
    font-size: 0.7rem;
    top: 5px;
}




/* modal stlying end */